:root {
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-32: 32px;
  --fs-40: 40px;
  --fs-48: 48px;
  --fs-60: 60px;
  /* color */
  --color-emphasis-:  rgba(255, 246, 36, 1);
  --color-secondary-:   rgba(193, 193, 193, 1);
  --color_white-:rgba(255, 255, 255, 1);
  --color-tertiary-: rgba(241, 241, 241, 1);
  --color-lightwh-: rgba(217, 217, 217, 1);
  --color-bgcol: rgba(241, 241, 241, 0.02);
  --color-lightgray-: rgba(169, 169, 169, 1);
  --color-bgsecondary-: rgba(49, 49, 49, 1);
  --color-bgtertiary-: #757575;
  --color-btn-: #1219D2;
  --color-bg_color-: #DCFCE7;
  --color-black-: #000000;
}

.opacty_80 {
  opacity: 80%;
}



.fs-14 {
  font-size: var(--fs-14);
}

.fs-16 {
  font-size: var(--fs-16);
}

.fs-20 {
  font-size: var(--fs-20);
}

.fs-24 {
  font-size: var(--fs-24);
}

.fs-32 {
  font-size: var(--fs-32);
}

.fs-40 {
  font-size: var(--fs-40);
}

.fs-48 {
  font-size: var(--fs-48);
}

.fs-60 {
  font-size: var(--fs-60);
}



  /* LINE-HEIGHT */
  .lh-20 {
    line-height: 20px;
  }
  .lh-21 {
    line-height: 21px;
  }
  .lh-24 {
    line-height: 24px;
  }
  .lh-30 {
    line-height: 30px;
  }
  .lh-36 {
    line-height: 36px;
  }
  .lh-48 {
    line-height: 48px;
  }
  .lh-57 {
    line-height: 57px;
  }
  .lh-72 {
    line-height: 72px;
  }


  .fw-900 {
    font-weight: 900;
  }

  /* OPACITY */

  .op-70 {
    opacity: 70%;
  }

.color_emphasis {
  color: var(--color-emphasis-);
}

.color_secondary {
  color: var(--color-secondary-);
}

.color_tertiary {
  color: var(--color-tertiary-);
}

.color_white {
  color: var(--color-white-);
}

.color_lightwh {
  color: var(--color-lightwh-);
}

.col-colbg {
  color: var(--color-bgcol-);
}

.color-bg {
  color: var(--color-bgsecondary-);
}

.color_ter {
  color: var(--color-bgtertiary-);
}

.color_btn {
  color: var(--color-btn-);
}

.bg_color {
  color: var(--color-bg_color-);
}
.color_lightgray {
  color: var(--color-lightgray-);
}

.color_white {
  color: var(--color_white-);
}


@media (max-width:992px) {

  :root {
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-32: 28px;
    --fs-40: 38px;
    --fs-48: 44px;
    --fs-60: 55px;
}

.lh-20 {
  line-height: 20px;
}
.lh-21 {
  line-height: 21px;
}
.lh-24 {
  line-height: 24px;
}
.lh-30 {
  line-height: 30px;
}
.lh-36 {
  line-height: 34px;
}
.lh-48 {
  line-height: 42px;
}
.lh-57 {
  line-height: 52px;
}
.lh-72 {
  line-height: 65px;
}
}


@media (max-width:576px) {

  :root {
    --fs-14: 12px;
    --fs-16: 14px;
    --fs-20: 18px;
    --fs-24: 20px;
    --fs-32: 24px;
    --fs-40: 28px;
    --fs-48: 34px;
    --fs-60: 38px;
}

.lh-20 {
  line-height: 16px;
}
.lh-21 {
  line-height: 18px;
}
.lh-24 {
  line-height: 20px;
}
.lh-30 {
  line-height: 26px;
}
.lh-36 {
  line-height: 30px;
}
.lh-48 {
  line-height: 36px;
}
.lh-57 {
  line-height: 46px;
}
.lh-72 {
  line-height: 55px;
}
}